<footer>
  <div class="footer-top-container">
    <ul class="footer-icon-list">
      <li class="list-icon"><i class="fab fa-twitter"></i></li>
      <li class="list-icon"><i class="fab fa-linkedin-in"></i></li>
      <li class="list-icon"><i class="fab fa-github"></i></li>
    </ul>
    <ul class="footer-nav-items">
      <li><a href="/">HOME</a></li>
      <li><a href="/quiz">QUIZ</a></li>
      <li><a href="/blog">BLOG</a></li>
      <li><a href="/logout">LOG OUT</a></li>
    </ul>
  </div>
  <div class="footer-img">
    <img class="footer-logo"src="images/logo.png" alt="">
  </div>
  <small class="end">This website was Designed, and programmed with Love by your next hire: Alia Abdulahi</small>
</footer>
