<head>
  <meta charset="UTF-8">
  <meta charset="utf-8" content-type="text/html"/>
  <meta name="Driving App" content="An app that assists those who are looking to buy dresses. "/>
  <meta name="Author" content="Alia Abdulahi"/>
  <meta name="Key words" content="Fashion,Style,Dresses,Clothes"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="GoGown-find dresses that suit your personality and style.">
  <meta property="og:description" content="An app that assists those who are looking to buy dresses.">
  <meta property="og:image" content="images/logo.png">
  <meta property="og:url" content="add.com">
  <meta property="og:type" content="fashon">
  <meta name="twitter:card" content="An app that assists those who are looking to buy dresses">
  <meta name="twitter:title" content="GoGown-find dresses that suit your personality and style">
  <meta name="twitter:description" content="An app that assists those who are looking to buy dresses.">
  <meta name="twitter:site" content="@add">
  <meta name="twitter:image:src" content="images/logo.png">
  <meta name="keywords" content="Fashion,Style,Dresses,Clothes">
  <link rel="preload" href="stylesheets/css/main.css" as="style">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/css/main.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <title>GoGown - For On-The-Go Women Finding Dresses For Upcoming Events</title>
</head>
