<header class="header-container">
  <nav class="nav">
    <ul class="nav-lists-left">
      <li class="nav-list-item"><a class="nav-anchor" href=/quiz >QUIZ</a></li>
        <!-- <ul class="drop-down-list">
          <li class="drop-down-item"><a class="slider-anchor" href=/maverick>MAVERICK</a></li>
          <li class="drop-down-item"><a class="slider-anchor" href=/minimalist>MINIMALIST</a></li>
          <li class="drop-down-item"><a class="slider-anchor" href=/eclectic>ECLECTIC</a></li>
          <li class="drop-down-item"><a class="slider-anchor" href=/classicist>CLASSICIST</a></li> -->
        <!-- </ul> -->
      </li>
      <li class="nav-list-item"><a href="blog" class="nav-anchor">FASHION NEWS</a>
    </ul>
    <ul class="nav-list-logo">
      <li class="nav-list-item"><a class="nav-anchor" href=/><img class="gogown-logo" src="images/logo.png"></a></li>
    </ul>
    <ul class="nav-lists-right">
      <li class="nav-list-item"><a class="nav-anchor" href=/cart><i class="fas fa-shopping-cart"></i></a></li>
      <li class="nav-list-item"><a class="nav-anchor" href=/login>LOGIN</a></li>
      <li class="nav-list-item"><a class="nav-anchor" href=/signup>SIGN UP</a></li>
    </ul>
  </nav>

  <nav class="mobile-nav">
    <ul class="mobile-nav-list">
      <li><a href=/><img class="gogown-logo" src="images/logo.png"></a></li>
      <i id="hamburger" class="fas fa-bars"></i>
    </ul>
  </nav>

  <nav id="slide">
    <ul class="slider-nav">
      <li class="slider-list-item"><a class="slider-anchor" href=/quiz >QUIZ</a></li>
      <li class="slider-list-item"><a class="slider-anchor" href=/maverick>MAVERICK</a></li>
      <li class="slider-list-item"><a class="slider-anchor" href=/minimalist>MINIMALIST</a></li>
      <li class="slider-list-item"><a class="slider-anchor" href=/eclectic>ECLECTIC</a></li>
      <li class="slider-list-item"><a class="slider-anchor" href=/login>LOGIN</a></li>
      <li class="slider-list-item"><a class="slider-anchor" href=/signup>SIGN UP</a></li>
    </ul>
  </nav>

</header>

<!-- <div>
  <ul class="nav-lists-left">
    <li class="nav-list-item"><a class="nav-anchor" href=/ >NEW ARRIVALS</a></li>
    <li class="nav-list-item"><a class="nav-anchor">STYLE TYPES</a></li>
  </ul>
  <ul class="nav-list-logo">
    <li class="nav-list-item"><a class="nav-anchor" href=/><img class="gogown-logo" src="images/logo.png"></a></li>
  </ul>
  <ul class="nav-lists-right">
    <li class="nav-list-item"><a class="nav-anchor" href=/login>LOGIN</a></li>
    <li class="nav-list-item"><a class="nav-anchor" href=/signup>SIGN UP</a></li>
  </ul>
</div> -->

<!-- <ul>
  <li><a href=/maverick>Maverick</a></li>
  <li><a href=/minimalist>Minimalist</a></li>
  <li><a href=/classicist>Classicist</a></li>
  <li><a href=/eclectic>Eclectic</a></li>
</ul> -->
