<!doctype html>
<html>
<head>
  <%include ./partials/head%>
</head>
<body id="main">
  <%include ./partials/header%>
  <section class="hero-banner">
    <div class="left-image"></div>
    <div class="center-image">
      <a class="hero-banner-cta"href="/quiz">Take the quiz</a>
    </div>
    <div class="right-image"></div>
  </section>
  <section class="descriptions-home">
    <div class="dress-ad">
      <h1>Take the Quiz</h1>
      <p>
        random textrandom textrandom textrandom textrandom textrandom textrandom textrandom text
        random textrandom textrandom textrandom textrandom textrandom textrandom textrandom text
      </p>
    </div>
    <div class="dress-ad">
      <h1>Get your style chosen</h1>
      <p>
        random textrandom textrandom textrandom textrandom textrandom textrandom textrandom text
        random textrandom textrandom textrandom textrandom textrandom textrandom textrandom text
      </p>
    </div>
    <div class="dress-ad">
      <h1>Buy your favorite projects</h1>
      <p>
        random textrandom textrandom textrandom textrandom textrandom textrandom textrandom text
        random textrandom textrandom textrandom textrandom textrandom textrandom textrandom text
      </p>
    </div>
  </section>

  <section class="styles-home">
    <h1>Style Types</h1>
    <div class="style-container">
      <div class="styles-ex-1">

      </div>
      <div class="styles-ex-2">

      </div>
      <div class="styles-ex-3">

      </div>
    </div>
  </section>
  <%include ./partials/footer%>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/javascript/index.js"></script>
</body>
</html>
