<section id="products">
    <div class="product-card">
      <div class="product-image">
        <img class="product-image-png" src="images/minimalist/minimalist1.png" alt="">
      </div>
      <div class="product-info">
        <h5 classs"product-description">Minimalist Dress</h5>
        <h6 class="product-price">$20.00</h6>
      </div>
    </div>

    <div class="product-card">
      <div class="product-image">
        <img class="product-image-png" src="images/minimalist/minimalist2.png" alt="">
      </div>
      <div class="product-info">
        <h5 classs"product-description">Minimalist Dress</h5>
        <h6 class="product-price"></h6>
      </div>
    </div>

    <div class="product-card">
      <div class="product-image">
        <img class="product-image-png" src="images/minimalist/minimalist3.png" alt="">
      </div>
      <div class="product-info">
        <h5 classs"product-description">Minimalist Dress</h5>
        <h6 class="product-price"></h6>
      </div>
    </div>

    <div class="product-card">
      <div class="product-image">
        <img class="product-image-png" src="images/minimalist/minimalist4.png" alt="">
      </div>
      <div class="product-info">
        <h5 classs"product-description">Minimalist Dress</h5>
        <h6 class="product-price"></h6>
      </div>
    </div>

    <div class="product-card">
      <div class="product-image">
        <img class="product-image-png" src="images/minimalist/minimalist5.png" alt="">
      </div>
      <div class="product-info">
        <h5 classs"product-description">Minimalist Dress</h5>
        <h6 class="product-price"></h6>
      </div>
    </div>

    <div class="product-card">
      <div class="product-image">
        <img class="product-image-png" src="images/minimalist/minimalist6.png" alt="">
      </div>
      <div class="product-info">
        <h5 classs"product-description">Minimalist Dress</h5>
        <h6 class="product-price"></h6>
      </div>
    </div>

    <div class="product-card">
      <div class="product-image">
        <img class="product-image-png" src="images/minimalist/minimalist7.png" alt="">
      </div>
      <div class="product-info">
        <h5 classs"product-description">Minimalist Dress</h5>
        <h6 class="product-price"></h6>
      </div>
    </div>

    <div class="product-card">
      <div class="product-image">
        <img class="product-image-png" src="images/minimalist/minimalist8.png" alt="">
      </div>
      <div class="product-info">
        <h5 classs"product-description">Minimalist Dress</h5>
        <h6 class="product-price"></h6>
      </div>
    </div>

    <div class="product-card">
      <div class="product-image">
        <img class="product-image-png" src="images/minimalist/minimalist9.png" alt="">
      </div>
      <div class="product-info">
        <h5 classs"product-description">Minimalist Dress</h5>
        <h6 class="product-price"></h6>
      </div>
    </div>



  </section>
