<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%include ./partials/head%>
  </head>
  <body id="news">
    <%include ./partials/header%>

    <section class="main">
              <h1>Latest Fashion News</h1>
                <ul class="slide"></ul>
        </section>
        <section class="news">
          <!-- <span class="main-news-head">In The Know</span> -->
          <div class="mainArticles">
            <ul class="mainArtic">
            </ul>
          </div>
        </section>

    <%include ./partials/footer%>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascript/index.js"></script>
  </body>
</html>
