<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%include ./partials/head%>
  </head>
  <body>
    <%include ./partials/header%>
    <h1>The Eclectic</h1>

    <main>

    <section class="sideBar">
      <h2>Style Types</h2>
      <nav>
        <ul>
          <li><a href="/minimalist">The Minimalist</a></li>
          <li><a href="/maverick">The Maverick</a></li>
          <li><a href="/eclectic">The Eclectic</a></li>
        </ul>
      </nav>
    </section>

    <section class="products">
      <div class="product-card">
        <div class="product-image">
          <img class="product-image-png" src="images/eclectic/eclectic1.png" alt="">
        </div>
        <div class="product-info">
          <h5 classs"product-description">Eclectic Dress</h5>
          <h6 class="product-price">$20.00</h6>
        </div>
      </div>

      <div class="product-card">
        <div class="product-image">
          <img class="product-image-png" src="images/eclectic/eclectic2.png" alt="">
        </div>
        <div class="product-info">
          <h5 classs"product-description">Eclectic Dress</h5>
          <h6 class="product-price">$20.00</h6>
        </div>
      </div>

      <div class="product-card">
        <div class="product-image">
          <img class="product-image-png" src="images/eclectic/eclectic3.png" alt="">
        </div>
        <div class="product-info">
          <h5 classs"product-description">Eclectic Dress</h5>
          <h6 class="product-price">$20.00</h6>
        </div>
      </div>

      <div class="product-card">
        <div class="product-image">
          <img class="product-image-png" src="images/eclectic/eclectic4.png" alt="">
        </div>
        <div class="product-info">
          <h5 classs"product-description">Eclectic Dress</h5>
          <h6 class="product-price">$20.00</h6>
        </div>
      </div>

      <div class="product-card">
        <div class="product-image">
          <img class="product-image-png" src="images/eclectic/eclectic5.png" alt="">
        </div>
        <div class="product-info">
          <h5 classs"product-description">Eclectic Dress</h5>
          <h6 class="product-price">$20.00</h6>
        </div>
      </div>

      <div class="product-card">
        <div class="product-image">
          <img class="product-image-png" src="images/eclectic/eclectic6.png" alt="">
        </div>
        <div class="product-info">
          <h5 classs"product-description">Eclectic Dress</h5>
          <h6 class="product-price">$20.00</h6>
        </div>
      </div>

      <div class="product-card">
        <div class="product-image">
          <img class="product-image-png" src="images/eclectic/eclectic7.png" alt="">
        </div>
        <div class="product-info">
          <h5 classs"product-description">Eclectic Dress</h5>
          <h6 class="product-price">$20.00</h6>
        </div>
      </div>

      <div class="product-card">
        <div class="product-image">
          <img class="product-image-png" src="images/eclectic/eclectic8.png" alt="">
        </div>
        <div class="product-info">
          <h5 classs"product-description">Eclectic Dress</h5>
          <h6 class="product-price">$20.00</h6>
        </div>
      </div>

      <div class="product-card">
        <div class="product-image">
          <img class="product-image-png" src="images/eclectic/eclectic9.png" alt="">
        </div>
        <div class="product-info">
          <h5 classs"product-description">Eclectic Dress</h5>
          <h6 class="product-price">$20.00</h6>
        </div>
      </div>



    </section>
  </main>

  <%include ./partials/footer%>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascript/index.js"></script>
  </body>
</html>
