<!doctype html>
<html>
<head>
  <%include ./partials/head%>
</head>
<body id="main">
  <%include ./partials/header%>
  <section class="hero-banner">
    <div class="left-image"></div>
    <div class="center-image">
      <a class="hero-banner-cta"href="/quiz">Take quiz & shop</a>
    </div>
    <div class="right-image"></div>
  </section>
  <section class="descriptions-home">
    <div class="dress-ad">
      <h1>1</h1>
      <p>
        Take the quiz.
      </p>
    </div>
    <div class="dress-ad">
      <h1>2</h1>
      <p>
        Get your style chosen
      </p>
    </div>
    <div class="dress-ad">
      <h1>3</h1>
      <p>
        Browse from your style type's merchandise.
      </p>
    </div>
  </section>

  <section class="styles-home">
    <h1>Style Types</h1>
    <div class="style-container">
      <div class="styles-ex-1">

      </div>
      <div class="styles-ex-2">

      </div>
      <div class="styles-ex-3">

      </div>
    </div>
  </section>
  <%include ./partials/footer%>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/javascript/index.js"></script>
</body>
</html>
