<html>
<head>
  <%include ./partials/head%>
</head>
<body>
  <%include ./partials/header%>


        <!-- <form action="/charge" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_live_51Jcd5K7305DsQvrbrgAvZQB"
            chargeAmount="0008"
            data-name="Resilient Coders"
            description="a cute dress"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto">
          </script>
        </form>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/javascript/index.js"></script>
</body>
</html>
