<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%include ./partials/head%>
  </head>
  <body>
    <%include ./partials/header%>

    <h1>THANKS FOR YOUR PAYMENT!</h1>
    <p>go <a href=/> back home :)</a> </p>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascript/index.js"></script>
  </body>
</html>
