<!doctype html>
<html>
<head>
    <%include ./partials/head%>
</head>
<body>
  <%include ./partials/header%>

    <form action="/signup" method="post">
            <label>Email</label>
            <input type="text" class="form-control" name="email">

            <label>Password</label>
            <input type="password" class="form-control" name="password">

        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>


    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascript/index.js"></script>
</body>
</html>
