@import 'variables.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat');


.radio{
  display: inline-block;
}
.answer-option{
  list-style-type: none;
}

#form{
  margin-left: 20%;
  margin-right: 20%;
  color: $tan;
}
