//colors
$brown: #c76910;
$tan: #eba16c;
$dgrey: #373e41;
$lgrey: #6d6d6d;
$dust: #c9b2ac;
$pblue: #cfd7e2;
//font sizes
$extra-small-font: .5rem;
$small-font: 1rem;
$medium-font: 1.5rem;
$large-font: 2rem;
$extra-large-font: 2.5rem;
//margins
$extra-small-margin: .5rem;
$small-margin: 1rem;
$medium-margin: 1.5rem;
$large-margin: 2rem;
$extra-large-margin: 2.5rem;
//padding
$extra-small-padding: .5rem;
$small-padding: 1rem;
$medium-padding: 1.5rem;
$large-padding: 2rem;
$extra-large-padding: 2.5rem;
//font-family
$font: 'Montserrat', sans-serif;
